$brand-color: #c74e0c;
$text-red: #481f09;
$text-black: #3c3d41;
$text-gray: #949494;
$bg-lt-gray: #f7f7f7;
$bg-white: #ffffff;
$bg-dark: #3f3d56;
$bg-black: #000000;
$bg-light-red: #fff5ef;
$heading-black: #1c1d21;
$green-color: #66e9a1;
$border-color: #7a7a7a;
$border-lt-color: #dddddd;

$shadow-1: 0px 1px 2px 0px #0505056e;
